# https://nextjs.org/docs/basic-features/environment-variables


# From https://dashboard.onfido.com/api/tokens
SDK_TOKEN_FACTORY_SECRET=""

KYC_ENDPOINT_KEY="go"

#------------------------------------------------------------------------------------------------------------
#https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser
#------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# NEXT_PUBLIC_TOKEN_FACTORY_URL="https://token-factory.onfido.com/sdk_token"
NEXT_PUBLIC_TOKEN_FACTORY_URL="$NEXT_PUBLIC_BASE_URL/api/generate-token"

# Put false and run manually your local server to test many times faster
BUILD_AND_SERVE_WEBSITE_BEFORE_RUNNING_TEST=true