# https://nextjs.org/docs/basic-features/environment-variables


# From https://dashboard.onfido.com/api/tokens
SDK_TOKEN_FACTORY_SECRET=""

#------------------------------------------------------------------------------------------------------------
#https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser
#------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# NEXT_PUBLIC_TOKEN_FACTORY_URL="https://token-factory.onfido.com/sdk_token"
NEXT_PUBLIC_TOKEN_FACTORY_URL="$NEXT_PUBLIC_BASE_URL/api/generate-token"
NEXT_PUBLIC_KYC_ENDPOINT_KEY="start"