html,
body {
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logo {
  max-width: 200px;
}

h1 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

.applicant-form {
  input,
  button {
    display: block;
  }
}
