html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logo {
  max-width: 200px;
}

$pad: 2rem;

header {
  padding: $pad $pad 0 $pad;
}

h1 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

.first-step {
  padding: $pad;

  .applicant-form {
    input,
    button {
      display: block;
    }
  }
}

footer {
  padding: 5rem $pad $pad $pad;
  font-size: 0.8rem;

  a {
    color: inherit;
  }
}

#onfido-mount {
  @media (min-width: 478px) {
    margin-top: $pad;
  }
}

.block-centered {
  min-height: 37.5em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
